<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
  Splurty was build by Wilson Phoong
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
    <%= image_tag 'wilson.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center"> Wilson Phoong</h2>
      <br />
      <p>
      Wilson Phoong is a web developer!
      </p>

    </div>
  </div>

  <br class = "clear" />
  <br />
  <br />
  <br />
  <br />




</div>